body {
    margin: 0;
}
.special-con{
    position:relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 100vh;
    padding:0px 24px;
    background-color: black;

}
.special-con p{
    color:#ffffff;
    font-size:22px;

}
#image{
    width: 500px;
    height: 500px;
    border-radius: 50%;
    float: left;
    background-image: url("./images/fa.jpeg");
    background-size: cover;
}
.special-con p{
    color:#ffffff;
    font-size:20px;
    padding:20px 0px;
    line-height: 2em;
    font-family:lato, Arial, Helvetica, sans-serif ;
    max-width: 600px;
    margin:auto;}